        * {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		body {
			font-family: sans-serif;
			height: 100vh;
			background: #E0FFFF;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		section {
			width: 50vw;
			height: 60vh;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}

		div.casa {
			cursor: pointer;
			border: 1px solid black;
			font-size: 6em;
			border: 2px solid black;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		div.casa:hover {
			background: rgba(0, 0, 0, 0.1);
		}

		div.c1 {
			border-left: none;
			border-top: none;
		}

		div.c7 {
			border-left: none;
			border-bottom: none;
		}

		div.c3 {
			border-right: none;
			border-top: none;
		}

		div.c9 {
			border-bottom: none;
			border-right: none;
		}

		div.c4 {border-left: none;}
		div.c6 {border-right: none;}
		div.c2 {border-top: none;}
		div.c8 {border-bottom: none;}

		@media (max-width: 767.98px) {
			section {
				width: 90vw;
			}

		}